* {
  margin: 0;
}

body {
  width: 960px;
  margin: 0 auto;
  background-color: #13243e;
}

header {
  text-align: center;
}

header img {
  height: 100px;
}

main {
  background-color: rgb(235, 245, 242);
}

#tech img {
  height: 200px;
}

#copyright {
  background-color: #d8e459;
}