* {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
}

body {
  width: 960px;
  margin: 0 auto;
  background-color: #13243e;
}

header {
  text-align: center;
}

header img {
  height: 100px;
}

main {

}

#bio {
  display: flex;

}

#bio-choose {
  width: 100%;
}

#name-date {
  display: flex;
  justify-content: space-between;
}

#choose-list {
  background-color: #545353;
  padding: 1rem;
}

#tech img {
  height: 200px;
}

#copyright {
  background-color: #d8e459;
}