* {
  margin: 0;
}

header {
  background-color: peachpuff;
  text-align: center;
}

main {
  height: 70vh;
  background-color: rgb(235, 245, 242);

}

h1 {
  background-color: royalblue;
  color: white;
}

.anySizeText {
  font-size: 72px;
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
}

#scroller {
  height: 400px;
  overflow: auto;
}

img {
  width: 40rem;
}

#copyright {
  background-color: tomato;
}

.bodyText {
  background-color: lightblue;
}